<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <title>Document</title>
  </head>
  <style>
    /* Custom CSS */
    .custom-table {
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .custom-table th,
    .custom-table td {
      padding: 8px 12px;
    }
  </style>
  <body>
    <div class="container mt-5">
      <table id="example" class="table table-striped" style="width: 100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          {% for file in admin_expired_file %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ file.company_name }}</td>
            <td>{{ file.department_name }}</td>
            <td>{{ file.document_type }}</td>
            <td>{{ file.renewal_date }}</td>
            <td>{{ file.expiry_date }}</td>
            <td>{{ file.user_email}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
<script>
  $(document).ready(function () {
    $("#example").DataTable();
  });
</script>
