<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"
    />
    <title>Expired Documents</title>
    <style>
      .custom-container {
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-top: 50px;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    </style>
  </head>

  <body>
    {% include 'navigation.html' %} {% csrf_token %}
    <div class="container mt-5 custom-container">
      <div class="row justify-content-center">
        <div class="col-m-2">
          <table id="renew" class="table table-sm">
            <thead class="bg-primary text-white">
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Company</th>
                <th scope="col">Department</th>
                <th scope="col">Document Type</th>
                <th scope="col">Agency</th>
                <th scope="col">Uploaded Document</th>
                <th scope="col">Renewed Date</th>
                <th scope="col">Expiry Date</th>
                <th scope="col">Uploaded By</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <a href="{% url 'dashboard' %}" class="btn mt-2 btn-secondary float-end m-5"
      >Back</a
    >
    <script src="{% static 'js/admin_table.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
  </body>
</html>
