<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"
    />
    <title>Expired Documents</title>
  </head>
  <style>
    .custom-table {
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .custom-table th,
    .custom-table td {
      padding: 8px 12px;
    }
  </style>
  <body>
    <div class="container mt-5">
      <table id="expired" class="table" style="width: 100%">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Company</th>
            <th scope="col">Department</th>
            <th scope="col">Document Type</th>
            <th scope="col">Renewal Date</th>
            <th scope="col">Expiry Date</th>
            <th scope="col">Uploaded By</th>
          </tr>
        </thead>
        <tbody>
          {% for file in admin_expired %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ file.company_name }}</td>
            <td>{{ file.department_name }}</td>
            <td>{{ file.document_type }}</td>
            <td>{{ file.renewal_date }}</td>
            <td>{{ file.expiry_date }}</td>
            <td>{{ file.user_email}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script>
  $(document).ready(function () {
    $("#example").DataTable();
  });
</script>
