<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company</title>
</head>
<body>
    {% include 'navigation.html' %} {% include 'toast.html' %}
    <h3>Create Company</h3>
    <div class="small-container">
    <form method="post" action="{% url 'create_company' %}">
      {% csrf_token %} {{ form.as_p }}
      <div class="text-end">
        <a class="cancel-btn" href="{% url 'company_list' %}">Cancel</a>
        <button class="user-submit-btn" type="submit">Submit</button>
      </div>
      </div>
    </form>
</body>
</html>