<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create_user.css' %}" />
    <title>Create User</title>
  </head>
  <body>
    {% include 'navigation.html' %}
    <h3>Create User</h3>
    {% if messages %}
    {% for message in messages %}
      {% if message.tags == "error"%}
      <div class="alert alert-danger">
        window.alert({{ message }})
      </div>
      {% else %}
      <div class="alert alert-success">
        window.alert({{ message }})
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}
    <div class="small-container">
    <form method="post" action="{% url 'create_user' %}">
      {% csrf_token %} {{ form.as_p }}
      <div class="text-end">
        <a class="cancel-btn" href="{% url 'user_list' %}">Cancel</a>
        <button class="user-submit-btn" type="submit">Submit</button>
      </div>
      </div>
    </form>
  </body>
</html>
