<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New File</title>
  </head>
  <body>
    <h1>Create File</h1>
    <form
      method="post"
      onsubmit="saveFile(event);"
      action="{% url 'create_new_file' %}"
    >
      {% csrf_token %} {{ form.as_p }}
      <a href="{% url 'dashboard' %}">Cancel</a>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
