<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create_file.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New File</title>
  </head>
  <body>
    {% include 'navigation.html' %} {% include 'toast.html' %} {% if not
    user.is_staff %}

    <h6>Create New File</h6>
    {% if messages %}
    <div class="position-fixed" style="top: 0; right: 0; margin: 10px">
      {% for message in messages %} {% if message.tags == "error" %}
      <div class="alert alert-danger" role="alert">{{ message }}</div>
      {% else %}
      <div class="alert alert-success" role="alert">{{ message }}</div>
      {% endif %} {% endfor %}
    </div>
    {% endif %}
    <div class="small-container">
      <form
        method="post"
        action="{% url 'create_new_file' %}"
        enctype="multipart/form-data"
      >
        {% csrf_token %} {{ form.as_p }}

        <div class="text-end">
          <a class="cancel-btn" href="{% url 'dashboard' %}">Cancel</a>
          <button class="user-submit-btn" type="submit">Submit</button>
        </div>
      </form>
      {% endif %}
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
          var alerts = document.querySelectorAll(".alert");
          alerts.forEach(function (alert) {
            alert.remove();
          });
        }, 3000);
      });
    </script>
  </body>
</html>
