<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create_user.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create User</title>
  </head>
  <body>
    {% include 'navigation.html' %}
    <h3>Create User</h3>
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    <div class="small-container">
    <form method="post" action="{% url 'create_user' %}">
      {% csrf_token %} {{ form.as_p }}
      <div class="text-end">
        <a class="cancel-btn" href="{% url 'user_list' %}">Cancel</a>
        <button class="user-submit-btn" type="submit">Submit</button>
      </div>
      </div>
    </form>
  </body>
</html>
