<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create_file.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New File</title>
  </head>
  <body>
    {% include 'navigation.html' %}
    <h6>Create New File</h6>
    <div class="small-container">
      <form
        method="post"
        action="{% url 'create_new_file' %}"
        enctype="multipart/form-data"
      >
        {% csrf_token %}

        <div class="input-group">
          <label for="{{ form.select_BU.id_for_label }}">Select Company:</label>
          {{ form.select_BU }}
        </div>

        <div class="input-group">
          <label for="{{ form.document_type.id_for_label }}"
            >Document Type:</label
          >
          {{ form.document_type }}
        </div>

        <div class="input-group">
          <label for="{{ form.department.id_for_label }}"
            >Select Department:</label
          >
          {{ form.department }}
        </div>

        <div class="input-group">
          <label for="{{ form.upload_file.id_for_label }}">Upload File:</label>
          {{ form.upload_file }}
        </div>

        <div class="date-inputs">
          <div class="input-group">
            <label for="{{ form.renewal_date.id_for_label }}"
              >Renewal Date:</label
            >
            {{ form.renewal_date }}
          </div>

          <div class="input-group">
            <label for="{{ form.expiry_date.id_for_label }}"
              >Expiry Date:</label
            >
            {{ form.expiry_date }}
          </div>
        </div>

        <div class="text-end">
          <a class="cancel-btn" href="{% url 'dashboard' %}">Cancel</a>
          <button class="user-submit-btn" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <script src="{% static 'js/create_new_file.js' %}"></script>
  </body>
</html>
