<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create_user.css' %}" />
    <title>Create User</title>
  </head>
  <body>
    {% include 'navigation.html' %}
    <h3>Create User</h3>
    {% if messages %}
  <div class="position-fixed" style="top: 0; right: 0; margin: 10px;">
    {% for message in messages %}
      {% if message.tags == "error" %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
      {% else %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

    <div class="small-container">
    <form method="post" action="{% url 'create_user' %}">
      {% csrf_token %} {{ form.as_p }}
      <div class="text-end">
        <a class="cancel-btn" href="{% url 'user_list' %}">Cancel</a>
        <button class="user-submit-btn" type="submit">Submit</button>
      </div>
      </div>
    </form>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      setTimeout(function() {
        var alerts = document.querySelectorAll('.alert');
        alerts.forEach(function(alert) {
          alert.remove();
        });
      }, 3000);
    });
  </script>
</html>
