<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    {% include 'navigation.html' %}
    <main class="dashboard-content">
      <div class="container">
        {% csrf_token %}

        <a
          href="{% url 'create_new_file_form' %}"
          class="custom-modal-button"
          role="button"
          aria-pressed="true"
          style="text-decoration: none"
        >
          <b>Create New File</b>
        </a>
        <div class="card">
          <a
            href="{% url 'valid_file_list' %}"
            class="custom-modal-button"
            role="button"
            aria-pressed="true"
            style="text-decoration: none"
          >
            <h3>Valid File List</h3>
          </a>
        </div>

        <div class="card">
          <a
            href="{% url 'expired_file_list' %}"
            class="custom-modal-button"
            role="button"
            aria-pressed="true"
            style="text-decoration: none"
          >
            <h3>Expired File List</h3>
          </a>
        </div>

        <div class="card">
          <a
            href="{% url 'to_be_renew_file_list' %}"
            class="custom-modal-button"
            role="button"
            aria-pressed="true"
            style="text-decoration: none"
          >
            <h3>Renew File List</h3>
          </a>
        </div>

        <style>
          .card {
            width: 300px;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 10px;
            margin: 10px;
          }
        </style>
        <div class="card">
          <h1>File Statistics</h1>
          <canvas id="pieChart"></canvas>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script src="{% static 'js/pie.js' %}"></script>
        </div>
      </div>
    </main>
  </body>
</html>
