<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    {% csrf_token %}
    <a
      href="{% url 'user_list' %}"
      class="custom-modal-button"
      role="button"
      aria-pressed="true"
      style="text-decoration: none"
    >
      <b> User List</b>
    </a>
    <h1>Welcome</h1>
    <a
      href="{% url 'valid_file_list' %}"
      class="custom-modal-button"
      role="button"
      aria-pressed="true"
      style="text-decoration: none"
    >
      <b> Valid File List</b>
    </a>
    <a
      href="{% url 'expired_file_list' %}"
      class="custom-modal-button"
      role="button"
      aria-pressed="true"
      style="text-decoration: none"
    >
      <b> Expired File List</b>
    </a>
  </body>
</html>
