<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    {% include 'navigation.html' %}
        {% csrf_token %}
        <main class="dashboard-content">
          <div class="container mt-4 custom-container">
            <div class="row">
              <div class="col-md-10">
                <div class="add-button">
        <div class="add-button">
          <a
            href="{% url 'create_new_file_form' %}"
            class="btn custom-create_file"
            role="button"
            aria-pressed="true"
          >
            <b> Add Document</b>
          </a>
        </div>
    </div>
      </div>
        <div class="card">
          <a
            href="{% url 'valid_file_list' %}"
            class="custom-modal-button"
            role="button"
            aria-pressed="true"
            style="text-decoration: none"
          >
            <h3>Valid File List</h3>
          </a>
    </div>
        <div class="card">
          <a
            href="{% url 'expired_file_list' %}"
            class="custom-modal-button"
            role="button"
            aria-pressed="true"
            style="text-decoration: none"
          >
            <h3>Expired File List</h3>
          </a>
        </div>

        <div class="card">
          <a
            href="{% url 'to_be_renew_file_list' %}"
            class="custom-modal-button"
            role="button"
            aria-pressed="true"
            style="text-decoration: none"
          >
            <h3>Renew File List</h3>
          </a>
        </div>
        <style>
          .card {
            width: 250px;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 10px;
            margin: 10px;
          }
        </style>
        <div class="card">
          <h6>File Statistics</h6>
          <canvas id="pieChart"></canvas>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script src="{% static 'js/pie.js' %}"></script>
        </div>

   
    </main>
  </body>
</html>
