<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create_file.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Renew File</title>
  </head>
  <body>
    {% include 'navigation.html' %}{% include 'toast.html' %}
    <h3>Renew File</h3>
    <div class="small-container">
      <form
        action="{% url 'renew_file' file_id=file.id %}"
        method="post"
        user-file-id="{{file_id}}"
        enctype="multipart/form-data"
      >
        {% csrf_token %} {{ form.as_p }}
        <div class="text-end">
          <a class="cancel-btn" href="{% url 'dashboard' %}">Cancel</a>
          <button class="user-submit-btn" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
