<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>To Be Renewed File List</title>
  </head>
  <body>
    {% include 'navigation.html' %} {% csrf_token %}
    <div class="container mt-2 custom-container">
      <table class="table caption-top">
        <caption>
          List of File To Be Renew
        </caption>
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Company</th>
            <th scope="col">Document Type</th>
            <th scope="col">Department</th>
            <th scope="col">Renewal Date</th>
            <th scope="col">Expiry Date</th>
            {% if user.is_authenticated and user.is_staff %}
            <th scope="col">Assign Person</th>
            {% endif %} {% if not user.is_staff %}
            <th scope="col">Action</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for file in renew_file %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ file.company }}</td>
            <td>{{ file.document_type }}</td>
            <td>{{ file.department }}</td>
            <td>{{ file.renewal_date }}</td>
            <td>{{ file.expiry_date }}</td>
            {% if user.is_authenticated and user.is_staff %}
            <td>{{ file.user }}</td>
            {% endif %} {% if not user.is_staff %}
            <td>
              <a
                href="{% url 'renew_file_form' file_id=file.id %}"
                class="btn custom-edit-user btn-sm"
                role="button"
                aria-pressed="true"
                >Renew</a
              >
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="pagination justify-content-end">
        <span class="step-links">
          {% for i in renew_file.paginator.page_range %}
          <span class="badge bg-white border border-secondary">
            <a
              href="?page={{ i }}"
              class="text-secondary"
              style="text-decoration: none"
              >{{ i }}</a
            >
          </span>
          {% endfor %}
        </span>
      </div>
    </div>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary float-end m-2"
      >Back</a
    >
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
  </body>
</html>
