<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create_user.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update User</title>
  </head>
  <body>
    {% include 'navigation.html' %}
    <h1>Update User</h1>
    <div class="small-container">
      <form
        id="updateUserForm"
        method="POST"
        action="{% url 'update_user' user_id=user.id %}"
      >
        {% csrf_token %} {{ form.as_p }}
        <a class="cancel-btn" href="{% url 'user_list' %}">Cancel</a>
        <button class="user-submit-btn" type="submit">Update</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>
