.small-container {
  max-width: 400px; /* Adjust this value as needed */
  margin: 0 auto; /* Center the container horizontally */
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.cancel-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #a4a4a4;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

/* Custom CSS for the Submit button */
.user-submit-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* para sa tableness */
.container {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: none; /* Remove the border */
  border-radius: 5px;
  background-color: none;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 300px;
}

.column {
  padding: 0 200px;
  box-sizing: border-box;
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group select,
.form-group input[type="password"] {
  width: 100%;
  padding: 8px 0;
  border: none; /* Remove the border */
  border-bottom: 1px solid #ccc;
  background: none;
  outline: none;
  box-shadow: none; /* Remove the shadow */
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group select:focus,
.form-group input[type="password"]:focus {
  border-bottom: 2px solid #2691d9;
  box-shadow: none; /* Remove the shadow on focus */
}
