.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  text-align: center;
}
.pie-chart {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

h6 {
  text-align: center;
}

a {
  display: block;
  text-align: center;
  margin: 10px 0;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.custom-create_file {
  background: linear-gradient(to bottom, #d1e8a1, #9acd32, #7ea829);
}
