.custom-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
}

.custom-table-container {
  max-height: 420px;
  overflow-y: hidden;
}

.custom-delete-btn {
  background: linear-gradient(to bottom, #d1e8a1, #9acd32, #7ea829);
}

.custom-add-user {
  background: linear-gradient(to bottom, #d1e8a1, #9acd32, #7ea829);
}

.custom-edit-user {
  background: linear-gradient(to bottom, #d1e8a1, #9acd32, #7ea829);
}

.custom-container table {
  background-color: #f8f9fa; /* Same color as the container */
}
